footer {
    background: url(../assets/Background_Contacts.png) no-repeat center;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; 

    padding-top: 8rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 

    & small{
        color: var(--color-purple);
    }

    & p {
        color: var(--color-gray-200);
        font: var(--text-md);
    }

}